{{ define "content" }}
<div id="dashboard" class="section-inset section-text">
    <h1 class="section-title">Your Responses</h1>
    <div id="responses">
        <p>1. {{ index .Questions 0 }} <b>{{ index .Responses 0}}</b></p>
        <p>2. {{ index .Questions 1 }} <b>{{ index .Responses 1}}</b></p>
        <p>3. {{ index .Questions 2 }} <b>{{ index .Responses 2}}</b></p>
        <p>4. {{ index .Questions 3 }} <b>{{ index .Responses 3}}</b></p>
    </div>
    <h1 class="section-title">All Users</h1>
    <canvas id="chart1" class="chart"></canvas>
    <canvas id="chart2" class="chart"></canvas>
    <canvas id="chart3" class="chart"></canvas>
    <canvas id="chart4" class="chart"></canvas>
</div>
{{ end }}
