{{ define "footer" }}
<footer class="footer">
    <div class="footer-inset footer-text">
        <div class="icons footer-element">
            <a class="icon-link" href="https://github.com/Yunski">
                <i class="fa fa-github-square fa-lg fa-2x" aria-hidden="true"></i>
            </a>
        </div>
        <ul class="footer-links footer-element">
            <li><a href="/about">About</a></li>
            <li><a href="https://github.com/Yunski/ableto-engineering-2017">Source</a></li>
        </ul>
        <div class="footer-element footer-right">&copy; Copyright 2016 Yun Teng</div>
    </div>
</footer>
{{ end }}
